<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/Flask_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Flask Project</title>
</head>
    <body>
            <h1>Qual seu nome?</h1>
        <form action="greet" method="post">
            {% for message in get_flashed_messages() %}
                <p> {{message}} </p>
            {% endfor %}
            <input type="text" name="name_input">
            <br>
            <input type="submit" value="Olá" id="greet">
        </form>

        <footer>
            <p>Criado por <a href="https://github.com/NouanGust">Nohan Gustavo</a></p>
            <p>Nenhum dado está sendo coletado por essa página.</p>
        </footer>

    </body>
</html>